/node_modules
/cypress/screenshots
/cypress/videos
/dist
/build
/coverage
.wrangler/
.dev.vars
/.cert
.env
.env.*
!.env.example
.DS_Store
/ios/App/build
/ios/App/Pods
/ios/App/output
/ios/App/App/public
/ios/DerivedData
/ios/xcuserdata
/ios/capacitor-cordova-ios-plugins
/ios/App/App/capacitor.config.json
/ios/App/App/config.xml
